@import "../common/variabls";

// ==================== Header ==========================
.header_top {
  background-color: #f0f0e9;

  .col-sm-6 {
    @media #{$xs-layout} {
      &:first-child {
        display: block;
        width: 100%;
      }

      &:last-child {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .header_info {
        text-align: center;

        ul {
          display: inline-block;
        }
      }

      .header_info ul li a {
        padding: 8px 10px;
      }

      .social-icons ul li a i {
        padding: 8px 10px;
      }
    }
  }

  .header_info ul li {
    a {
      font-size: 12px;
      color: #696763;
      font-family: $roboto;
      cursor: pointer;

      &:hover {
        background-color: $theme-color-key;
        color: #fff;
      }
    }
  }

  .header_top--right {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .social-icons {
    ul li {
      display: inline-block;

      a {
        font-size: 12px;
        color: #696763;
        font-family: $roboto;
        padding: 0;

        i {
          padding: 11px 15px;
        }
      }

      &:hover a {
        .fa-facebook-f {
          background: #0083c9;
        }

        .fa-twitter {
          background: #5bbcec;
        }

        .fa-linkedin {
          background: #90c9dc;
        }

        .fa-google-plus-g {
          background: #ce3c2d;
        }

        .fa-instagram {
          background: #e75bec;
        }

        i {
          color: #fff;
        }
      }
    }
  }

  .language {
    button {
      border-radius: 0;

      margin-right: 20px;
      padding: 2px 20px;

      img {
        width: 30px;
      }

      a {
        color: #b4b1ab;
        font-size: 12px;
      }

      &:hover {
        background-color: $theme-color-key;

        a {
          color: #fff;
        }
      }
    }

    ul li {
      a img {
        width: 30px;
      }
    }
  }
}

.header_middle {
  .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .logo {
    text-align: center;

    a img {
      width: 55%;
    }
  }

  .shop-menu {
    float: right;
    margin-top: 30px;

    ul li {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;

      &:last-child {
        padding-right: 0;
      }

      a {
        background: #ffffff;
        color: #696763;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        padding-right: 0;
        margin-top: 10px;
        cursor: pointer;
      }

      &:hover a {
        color: $theme-color-key;
      }

      @media #{$sm-layout} {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .count-product {
      position: absolute;
      background-color: rgb(255, 104, 104);
      color: #fff;
      top: -14px;
      right: -11px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 15px;
      font-size: 10px;
    }
  }

  @media #{$xs-layout} {
    .col-sm-8 {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .shop-menu {
      text-align: center;
    }
  }
}

.header_bottom {
  padding-bottom: 30px;
  padding-top: 30px;

  @media #{$xs-layout} {
    position: relative;

    .navbar-collapse.in {
      overflow: inherit;
    }

    .col-sm-9 {
      display: inline-block;
      width: 100%;
    }

    .col-sm-3 {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 38px;
    }
  }

  .navbar-header {
    .navbar-toggle .icon-bar {
      background-color: #fff;
    }
  }

  .mainmenu {
    display: flex;

    @media #{$xs-layout} {
      display: block;
      width: 100%;

      li {
        background: rgba(0, 0, 0, 0.5);
        padding-top: 15px;
        padding-bottom: 0;
      }
    }

    ul li {
      padding-right: 15px;
      padding-left: 15px;

      @media #{$sm-layout} {
        padding-right: 10px;
        padding-left: 10px;
      }

      a {
        color: #696763;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 400;
        padding: 0;
        padding-bottom: 10px;
        cursor: pointer;

        @media #{$sm-layout} {
          font-size: 17px;
        }
      }

      a:hover,
      a.active {
        background: none;
        color: #fdb45e;
        text-decoration: none;
      }

      ul.sub-menu {
        position: absolute;
        top: 30px;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        list-style: none;
        padding: 0;
        margin: 0;
        width: 220px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 999;

        li {
          padding: 10px 20px 0;

          a {
            color: #fff;
          }

          &:hover a {
            color: #fdb45e;
            cursor: pointer;
          }

          &:last-child {
            padding-bottom: 5px;
          }
        }
      }

      &:hover > ul.sub-menu {
        display: block;
        -webkit-animation: fadeInUp 400ms;
        animation: fadeInUp 400ms;
      }
    }
  }

  .search {
    display: flex;
    justify-content: end;

    .search_box {
      input {
        background: #f0f0e9;
        border: none;
        color: #b2b2b2;
        font-family: "roboto";
        font-size: 12px;
        font-weight: 300;
        height: 35px;
        padding-left: 15px;
        outline: none;
        width: 230px;
        // background-image: url(asset_path("images/searchicon.png"));
        background-repeat: no-repeat;
        background-position: 200px;
      }

      @media #{$sm-layout} {
        width: 170px !important;
        background-position: 145px !important;
      }
    }
  }
}
