/*----------------------------------------*/
/*  1. Template default SCSS
/*----------------------------------------*/

@import "./variabls";

/*-- Google Font --*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,1000,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

/*-- Common Style --*/
body {
  font-family: $roboto !important;
  position: relative;
  font-weight: 400;
}

ul li {
  list-style: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
}

.container {
  // width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: none;
}

/*----------------  Common Classes -----------*/

.navbar-toggle {
  background-color: #000;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-right {
  padding-right: 0;
}

.new,
.sale {
  position: absolute;
  top: 0;
  right: 0;
}

.right {
  right: 0;
}

.alert {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.or {
  background: #fe980f;
  border-radius: 40px;
  color: #ffffff !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin-top: 75px;
  text-align: center;
  width: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.flex {
  display: flex;
}

.alert {
  &.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  &.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  &.alert-notice {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }

  &.alert-warning,
  &.alert-alert {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
}

.sold_out {
  position: absolute;
  top: 0;
  left: 0;
  width: 50% !important;
  height: 50% !important;
}
