.container-scroller {
  overflow: hidden;
}

.card {
  box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
  transition: background 0.25s ease;
  border-radius: 20px;
  border: none;

  .card-body {
    padding: 1.5rem 1.5rem;

    .card-title {
      color: #010101;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.table {
  thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }

  tbody td {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 250;

    img {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }

    img.img-product {
      width: 150px;
      height: 150px;
      border-radius: 0;
    }
  }
}

.table th,
.table td {
  vertical-align: middle;
  line-height: 1;
  white-space: nowrap;
  padding: 1.125rem 1.375rem;
}

.table > :not(:first-child),
.jsgrid .jsgrid-table > :not(:first-child) {
  border-top: none;
}

.others {
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  li a i {
    color: #6c757d;
  }
}

.page-header {
  border-bottom: 2px solid #d2d2d2;
}

.breadcrumb {
  padding: 8px 15px;
  // margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 10px;

  .dashboard a {
    color: #428bca;
    text-decoration: none;
    font-size: 17px;
  }

  .active {
    font-size: 17px;
  }
}

.action_items {
  li:hover {
    cursor: pointer;
  }

  li a {
    color: #000;

    i {
      font-size: 17px;
    }

    span {
      font-size: 17px;
      margin-left: 10px;
    }
  }

  .right {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;

    li a {
      color: #000;
      font-size: 17px;

      b {
        margin-left: 5px;
        margin-left: 10px;
      }

      i {
        font-size: 17px;
        margin-right: 10px;
      }
    }
  }
}

.form-horizontal.denser {
  margin-top: 30px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-horizontal {
  .control-label {
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
  }

  input,
  textarea {
    width: 30% !important;
  }

  select {
    width: 20%;
  }

  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
  }

  .dropdown-toggle::after {
    content: none;
  }
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-edit {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.badge-success,
.badge.badge-online {
  color: #34b1aa;
  border: 1px solid #34b1aa;
  background-color: transparent;
}

.badge-info,
.badge.badge-offline {
  color: #52cdff;
  border: 1px solid #52cdff;
  background-color: transparent;
}

.badge-warning {
  color: #ffaf00;
  border: 1px solid #ffaf00;
  background-color: transparent;
}

.badge-danger {
  color: #dc3545;
  border: 1px solid #dc3545;
  background-color: transparent;
}

.badge-momo {
  color: #ee54b0;
  border: 1px solid #ee54b0;
  background-color: transparent;
}

.badge-primary {
  color: #007bff;
  border: 1px solid #007bff;
  background-color: transparent;
}

.form-show {
  h4 {
    font-size: 2rem;
  }

  span {
    font-size: 11px;
  }

  dd {
    font-size: 15px;
  }
}

.invalid-feedback {
  font-size: 15px;
}

.preview {
  .img-thumbnail {
    height: 250px;
    width: 250px;
  }
}

.label_image_value .img-thumbnail {
  height: 60px;
  width: 60px;
}

.text-muted {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 15px;
}

.ckeditor {
  .invalid-feedback {
    display: block;
  }
}

ul {
  &.select2-results__options {
    li {
      font-size: 15px;
    }
  }
}
.select2-selection__rendered {
  font-size: 15px;
}

.attribute_values {
  margin-left: 40px;
}

.remove_fields,
.add_fields {
  margin-bottom: 5px;

  a {
    color: #fff;
  }
}

.links,
.btn-remove-nested {
  i {
    color: #fff;
    margin-right: 5px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.is-online {
  width: 10px;
  height: 10px;
  background-color: #63ed7a;
  border-radius: 50%;
  display: inline-block;
}

.order_status {
  margin: 0 0 15px 0 !important;
}

.form-group {
  margin-bottom: 0;
}
