@import "../common/variables";

.page-body-wrapper {
  min-height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  padding-top: $navbar-height;

  &.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
  }
}

.main-panel {
  transition: width $action-transition-duration
      $action-transition-timing-function,
    margin $action-transition-duration $action-transition-timing-function;
  width: calc(100% - #{$sidebar-width-lg});
  min-height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: column;
  @media (max-width: 991px) {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: $content-bg;
  padding: 1.5rem 2.187rem 1.5rem 3.5rem;
  width: 100%;
  flex-grow: 1;
  @media (max-width: 767px) {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}

.sidebar {
  min-height: calc(100vh - 97px);
  background: #f4f5f7;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  padding: 0;
  width: 220px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;

  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;

    .nav-item {
      transition-duration: 0.25s;
      transition-property: background;

      .nav-link {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 10px 35px 10px 35px;
        color: #484848;
        border-radius: 0px 20px 20px 0px;
        transition-duration: 0.45s;
        transition-property: color;
        font-weight: 400;

        i {
          font-size: 20px;
          line-height: 1;
          margin-right: 1rem;
          color: #484848;
        }

        .menu-title {
          color: inherit;
          display: inline-block;
          font-size: 15px;
          line-height: 1;
          vertical-align: middle;
        }
      }

      &.nav-category {
        color: #fe980f;
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
        margin: 0 30px;
        font-size: 11px;
        font-weight: 700;
        padding: 20px 0px 5px 0px;
        text-transform: uppercase;
      }
    }

    .nav-item.active {
      border-radius: 0px 20px 20px 0px;

      & > .nav-link {
        background: #fff;
        position: relative;
        font-weight: bold;
        font-size: 13px;
      }
    }
  }

  .nav:not(.sub-menu) {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    & > .nav-item {
      margin-top: 0.2rem;

      & > .nav-link {
        margin: 0;
      }
    }

    & > .nav-item.active {
      background: transparent;
    }
  }
}

.sidebar .nav .nav-item.active > .nav-link i,
.sidebar .nav .nav-item.active > .nav-link .menu-title,
.sidebar .nav .nav-item.active > .nav-link .menu-arrow {
  color: #1f3bb3;
}
