/ #page_address.home-page
/   .container
/     .breadcrumbs
/       ol.breadcrumb
/         li
/           a Home
/         li 
/           a Address
/         li.active List
/     #content_address
/       .line_address_content
/       .address_checkout
/         .title_order 
/           .pull-left 
/             i.fa-solid.fa-location-dot
/             strong&nbspDelivery address
/           .pull-right
/             a[href="#{}"]
/               i.fa-solid.fa-location-dot
/         .address_content
/           .item
/             input[type="radio" name="address" value="1"]
/             .show-address
/               .address_content-name 
/                 p Lê Văn Tùng (+84) 984235062
/                 span Default
/               .address_content-detail 
/                 |886/50 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP. Hồ Chí Minh
                
/             .edit-address
/               i.fa-regular.fa-pen-to-square
/           .item
/             input[type="radio" name="address" value="1"]
/             .show-address
/               .address_content-name 
/                 p Lê Văn Tùng (+84) 984235062
/               .address_content-detail 
/                 |886/50 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP. Hồ Chí Minh
/             .edit-address
/               i.fa-regular.fa-pen-to-square
/           .item
/             input[type="radio" name="address" value="1"]
/             .show-address
/               .address_content-name 
/                 p Lê Văn Tùng (+84) 984235062
/               .address_content-detail 
/                 |886/50 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP. Hồ Chí Minh
/             .edit-address
/               i.fa-regular.fa-pen-to-square
/           .item
/             input[type="radio" name="address" value="1"]
/             .show-address
/               .address_content-name 
/                 p Lê Văn Tùng (+84) 984235062
/               .address_content-detail 
/                 |886/50 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP. Hồ Chí Minh
/             .edit-address
/               i.fa-regular.fa-pen-to-square
