// ==================== Typography and Set up=======================

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,1000,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
  font-family: "Roboto", sans-serif !important;
  position: relative;
  font-weight: 400;
}

ul li {
  list-style: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.btn:hover,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #fe980f;
  color: #fff;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i {
  font-size: 30px;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-right {
  padding-right: 0;
}

.new,
.sale {
  position: absolute;
  top: 0;
  right: 0;
}

.right {
  right: 0;
}

.alert {
  position: absolute;
  width: 100%;
  z-index: 999;
}

// ============== Loader ================

#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 100000000;
  opacity: 1;
  overflow: hidden;
  text-align: center;
  display: flex;
}

div.ldr {
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid #fe980f;
  border-radius: 100%;
  -webkit-animation: spinRight 1000ms linear infinite;
  animation: spinRight 1000ms linear infinite;
}

div.ldr:before,
div.ldr:after {
  content: "";
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid #fe980f;
  border-radius: 100%;
  -webkit-animation: spinLeft 1000ms linear infinite;
  animation: spinLeft 1000ms linear infinite;
}

div.ldr:after {
  width: 4vmax;
  height: 4vmax;
  top: calc(50% - 2vmax);
  left: calc(50% - 2vmax);
  border: 0;
  border-right: 2px solid #fe980f;
  -webkit-animation: none;
  animation: none;
}

@keyframes spinLeft {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes spinRight {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

// ============== scroll ================

a#scrollUp {
  bottom: 45px;
  right: 10px;
  padding: 5px 10px;
  background: #fe980f;
  color: #fff;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i {
  font-size: 30px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// ==================== Header ==========================
.header_top {
  background-color: #f0f0e9;

  .header_info ul li {
    a {
      font-size: 12px;
      color: #696763;
      font-family: "Roboto", sans-serif;
      cursor: pointer;

      &:hover {
        background-color: #fe980f;
        color: #fff;
      }
    }
  }

  .header_top--right {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .social-icons {
    // float: right;

    ul li {
      display: inline-block;

      a {
        font-size: 12px;
        color: #696763;
        font-family: "Roboto", sans-serif;
        padding: 0;

        i {
          padding: 11px 15px;
        }
      }

      &:hover a {
        .fa-facebook {
          background: #0083c9;
        }

        .fa-twitter {
          background: #5bbcec;
        }

        .fa-linkedin {
          background: #90c9dc;
        }

        .fa-google-plus {
          background: #ce3c2d;
        }

        .fa-instagram {
          background: #e75bec;
        }

        i {
          color: #fff;
        }
      }
    }
  }

  .language {
    button {
      border-radius: 0;

      margin-right: 20px;
      padding: 2px 20px;

      img {
        width: 30px;
      }

      a {
        color: #b4b1ab;
        font-size: 12px;
      }

      &:hover {
        background-color: #fe980f;

        a {
          color: #fff;
        }
      }
    }

    ul li {
      a img {
        width: 30px;
      }
    }
  }
}

.header_middle {
  .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .logo {
    text-align: center;

    a img {
      width: 55%;
    }
  }

  .shop-menu {
    float: right;
    margin-top: 30px;

    ul li {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;

      &:last-child {
        padding-right: 0;
      }

      a {
        background: #ffffff;
        color: #696763;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 200;
        padding: 0;
        padding-right: 0;
        margin-top: 10px;
        cursor: pointer;
      }

      &:hover a {
        color: #fe980f;
      }
    }
  }
}

.header_bottom {
  padding-bottom: 30px;
  padding-top: 30px;

  .navbar-header {
    .navbar-toggle .icon-bar {
      background-color: #fff;
    }
  }

  .mainmenu {
    display: flex;

    ul li {
      padding-right: 15px;
      padding-left: 15px;

      a {
        color: #696763;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 100;
        padding: 0;
        padding-bottom: 10px;
        cursor: pointer;
      }

      a:hover,
      a.active {
        background: none;
        color: #fdb45e;
      }

      ul.sub-menu {
        position: absolute;
        top: 30px;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        list-style: none;
        padding: 0;
        margin: 0;
        width: 220px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 999;

        li {
          padding: 10px 20px 0;

          a {
            color: #fff;
          }

          &:hover a {
            color: #fdb45e;
            cursor: pointer;
          }

          &:last-child {
            padding-bottom: 5px;
          }
        }
      }

      &:hover > ul.sub-menu {
        display: block;
        -webkit-animation: fadeInUp 400ms;
        animation: fadeInUp 400ms;
      }
    }
  }

  .search {
    display: flex;
    justify-content: end;

    .search_box {
      input {
        background: #f0f0e9;
        border: none;
        color: #b2b2b2;
        font-family: "roboto";
        font-size: 12px;
        font-weight: 300;
        height: 35px;
        padding-left: 15px;
        outline: none;
        width: 230px;
        background-image: image-url("home/searchicon.png");
        background-repeat: no-repeat;
        background-position: 200px;
      }
    }
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// ==================== Slider ==========================
#slider {
  padding-bottom: 45px;

  #slider-carousel {
    .carousel-indicators {
      li {
        background: #c4c4be;

        &.active {
          background: #fe980f;
        }
      }
    }

    .carousel-inner {
      .item {
        padding-left: 100px;

        h1 {
          color: #b4b1ab;
          font-family: abel;
          font-size: 48px;
          margin-top: 115px;
        }

        h1 span {
          color: #fe980f;
        }

        h2 {
          color: #363432;
          font-family: "Roboto", sans-serif;
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 22px;
          margin-top: 10px;
        }

        p {
          color: #363432;
          font-size: 16px;
          font-weight: 300;
          font-family: "Roboto", sans-serif;
        }

        .get_it_now {
          background: #fe980f;
          border: 0 none;
          border-radius: 0;
          color: #ffffff;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 300;
          margin-top: 23px;
        }

        .banner_girl {
          margin-left: 0;
        }

        .banner_pricing {
          position: absolute;
          right: 40%;
          top: 52%;
        }
      }
    }

    .control-carousel {
      position: absolute;
      top: 50%;
      font-size: 60px;
      color: #c2c2c1;
      display: block;
    }
  }
}

// ==================== Sidebar ==========================

// ======== Category ========
.left-sidebar {
  .title_sidebar {
    color: #fe980f;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;

    &::before {
      content: " ";
      position: absolute;
      background: #fff;
      bottom: -6px;
      width: 130px;
      height: 30px;
      z-index: -1;
      left: 50%;
      margin-left: -65px;
    }

    &::after {
      content: " ";
      position: absolute;
      border: 1px solid #f5f5f5;
      bottom: 8px;
      left: 0;
      width: 100%;
      height: 0;
      z-index: -2;
    }
  }

  .category-products,
  .brands_products {
    border: 1px solid #f7f7f0;
    border-radius: 5px;
    margin-bottom: 35px;
    // padding-bottom: 20px;
    // padding-top: 15px;
    padding: 15px 0 20px 0;

    .panel {
      background-color: #ffffff;
      border: 0px;
      border-radius: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-bottom: 0px;

      .panel-heading {
        background-color: #ffffff;
        border: 0 none;
        color: #ffffff;
        padding: 5px 20px;

        .panel-title {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 16px;
          color: #696763;

          &:hover a,
          &:hover span {
            color: #fe980f;
          }
        }

        .panel-title a {
          color: #696763;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
        }

        .panel-title .badge {
          background: none;
          border-radius: 10px;
          color: #696763;
          display: inline-block;
          font-size: 12px;
          font-weight: bold;
          line-height: 1;
          min-width: 10px;
          padding: 3px 7px;
          text-align: center;
          vertical-align: baseline;
          white-space: nowrap;
        }
      }

      .panel-body {
        ul li a {
          color: #696763;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 550;
          text-transform: uppercase;
        }

        ul li:hover a {
          color: #fe980f;
        }
      }
    }
  }
}

.right-sidebar {
  .features_items,
  .category-tab,
  .recommended_items {
    overflow: hidden;

    .title_feature_item {
      color: #fe980f;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin: 0 15px;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 30px;
      z-index: 1;

      &::before {
        content: " ";
        position: absolute;
        background: #fff;
        bottom: -6px;
        width: 220px;
        height: 30px;
        z-index: -1;
        left: 50%;
        margin-left: -110px;
      }

      &::after {
        content: " ";
        position: absolute;
        border: 1px solid #f5f5f5;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 0;
        z-index: -2;
      }
    }

    .product-image-wrapper {
      border: 1px solid #f7f7f5;
      overflow: hidden;
      margin-bottom: 30px;

      .single-products {
        position: relative;

        .productinfo {
          position: relative;
          text-align: center;

          img {
            width: 100%;
            height: 190px;
          }

          h2 {
            color: #fe980f;
            font-family: "Roboto", sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          p {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #696763;
          }

          .add-to-cart {
            background: #f5f5ed;
            border: 0;
            border-radius: 10px;
            color: #696763;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            margin-bottom: 25px;

            i {
              margin-right: 5px;
            }

            &:hover {
              background: #fe980f;
              color: #fff;
            }
          }
        }
      }

      .choose {
        border-top: 1px solid #f7f7f0;

        ul li a {
          color: #b3afa8;
          font-family: "Roboto", sans-serif;
          font-size: 13px;
          padding-left: 0;
          padding-right: 0;
        }

        ul li a i {
          margin-right: 5px;
        }
      }
    }
  }

  .load_more {
    text-align: center;
    margin-bottom: 15px;

    .btn-load_more {
      background-color: #fe980f;
      color: #fff;
      border-radius: 10px;
    }
  }

  .category-tab {
    ul {
      background: #40403e;
      border-bottom: 1px solid #fe980f;
      list-style: none;
      margin: 0 0 30px;
      padding: 0;
      width: 100%;
    }

    ul li a {
      border: none;
      border-radius: 0;
      color: #b3afa8;
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
    }

    .nav-tabs li.active a,
    .nav-tabs li.active a:hover,
    .nav-tabs li.active a:focus {
      background-color: #fe980f;
      border: 0px;
      color: #ffffff;
      cursor: default;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .recommended_items {
    .recommended-item-control {
      position: absolute;
      top: 41%;
    }

    .recommended-item-control i {
      background: #fe980f;
      color: #ffffff;
      font-size: 20px;
      padding: 4px 10px;
    }
  }
}
// ==================== Footer ==========================
#footer {
  background: #f0f0e9;

  .footer-top {
    .container {
      border-bottom: 1px solid #e0e0da;
      padding-bottom: 20px;
    }

    .companyinfo {
      margin-top: 60px;

      h2 {
        color: #b4b1ab;
        font-family: abel;
        font-size: 20px;
        text-transform: uppercase;
      }

      span {
        color: #fe980f;
      }

      p {
        color: #b3b3ad;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 300;
      }
    }

    .img-gallery {
      margin-top: 60px;
    }

    .col-md-3 {
      overflow: hidden;

      .img-gallery {
        text-align: center;

        .iframe-img {
          display: block;
          height: 61px;
          margin-bottom: 10px;
          border: 2px solid #ccccc6;
          border-radius: 3px;
        }

        img {
          height: 100%;
          width: 100%;
        }

        p {
          color: #8c8c88;
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 0px;
        }

        h2 {
          color: #8c8c88;
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase;
          margin-top: 0px;
        }
      }
    }

    .address {
      margin-top: 30px;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
      }

      p {
        color: #666663;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 300;
        left: 25px;
        position: absolute;
        top: 45px;
      }
    }
  }

  .footer-widget {
    margin-bottom: 60px;

    .single-widget {
      h2 {
        color: #666663;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 22px;
        text-transform: uppercase;
      }

      ul li {
        a {
          color: #8c8c88;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 200;
          padding: 5px 0;
        }

        &:hover a {
          cursor: pointer;
          color: #fe980f;
        }
      }
    }

    .searchform {
      input {
        border: 1px solid #dddddd;
        color: #ccccc6;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        margin-top: 0;
        outline: none;
        padding: 7px;
        width: 212px;
      }

      button {
        background: #fe980f;
        border: medium none;
        border-radius: 0;
        margin-left: -5px;
        margin-top: -3px;
        padding: 7px 17px;

        i {
          color: #ffffff;
          font-size: 20px;
        }
      }

      p {
        color: #8c8c88;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin-top: 25px;
      }
    }
  }

  .footer-bottom {
    background: #d6d6d0;
    padding-top: 10px;

    p {
      color: #363432;
      font-family: "Roboto", sans-serif;
      font-weight: 200;
      margin-left: 15px;

      span {
        color: #fe980f;
        font-style: italic;
      }
    }
  }
}
